body{
    width:100%;
    margin:auto;   
    background: url("content/header4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    font-family:"helvetica";
}

.header{
    background:rgba(0, 0, 0, 0.3);    
    height:120px;  

}

a{
    color:white;
    text-decoration:none;
}


.buttonLine{
    display:flex;
    flex-direction:row;
    content-align:center;
    justify-content: space-evenly;    
    width:1000px;
    margin:auto;   
    padding-top:20px;
}

.button{  
   font-size:25px;
   color:white;
   text-shadow:
    -1px -1px 0 #868686,
    1px -1px 0 #868686,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    padding:15px;

}

.button:hover{  
    background-color:rgba(0, 0, 0, 0.3);
    border-radius:10px;

}

.mainH1{
    color:white;
     text-shadow:
    -1px -1px 0 #1f004e,
    1px -1px 0 #1f004e,
    -1px 1px 0 #1f004e,
    1px 1px 0 #1f004e;  
    text-align:center;
    font-size:60px;
    background:linear-gradient(90deg,rgba(0, 0, 0, 0),rgba(19, 18, 43, 0.4),rgba(0, 0, 0, 0));
    color:#dec9b9;
    font-family:monospace;
}

.arrow{
    width:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background:rgba(218, 219, 218, 0.6);
    border-radius:50%;
}

.midlogo{
    
    width:1000px;
    margin:auto;
    display:flex;
    justify-content: space-evenly;

}

.logo{
    width:180px;
    height:180px;
    background-color:rgba(232, 232, 232, 0.8);
    border-radius:90px;
    margin-top:100px;
}

.picture{
    width:160px;           
    margin-top:30px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius:20px;
}
.main2 > p{
    color:black;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius:5px;

}

.ptrImg{
    width:120px;
    
    margin:29px;
}

.center{      
    margin:auto;   
    margin-top:100px;
    color:rgba(0, 0, 0, 0.8);    
    width:100%;   
    background:rgba(0, 0, 0, 0.2);    
    
}

.main{
    width:800px;
    margin:auto;
    padding-top:30px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

    
}

.txt{
    background-color:rgba(227, 226, 222, 0.85);
    margin:20px;
    padding:10px;
    border-radius:10px;
    
}

.footer{
    background-color:rgba(0, 0, 0, 0.6);    
    height:100%;
    color:white;
    display:flex;
    content-align:center;
      

}


.map{
    margin:auto;
    margin-top:200px;
    width:1300px;
    height:700px;
    border:solid rgba(0, 0, 0, 0.3) 30px;
    border-radius:30px;
}

.foot1{
    padding-left:600px;
}
.foot2{
    padding-left:100px;
}
.foot2 > p{
    font-style:bold;
}